#character-list {
  width: 50%;
  height: 25em;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#character-list-menu {
  justify-content: center;
  margin: 0 auto;
}

